@import url('https://fonts.googleapis.com/css?family=Poppins');

body{
    font-family: 'Poppins';
    background-color: #868686;
    padding-top: 3em;
}
/* 
.container{
    background-color: #868686;
    margin: 0;
    height:100vh;   
} */

.card_container{
    margin:auto;
    max-width: 25em;
}

.card {
    transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
    background-color: #fff;
    width: 25em;
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0px 13px 10px -7px rgba(0, 0, 0,0.1);
    color: #485366;
}

.card:hover {
    box-shadow: 0px 30px 18px -8px rgba(0, 0, 0,0.1);
      transform: scale(1.10, 1.10);
}

.card_head {
    height: 15.625em;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.card_img {
    background-image: url('https://raw.githubusercontent.com/Anirudh887/lab-prop-card/master/img/house.jpg');
    transition: 0.2s all ease-out;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    position: absolute;
    height: 15.625em;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    top: 0;
}

.card_heartfloat {
    float: right;
}

.card_heart {
    position: absolute;
    padding: 1em;
    width: 100%;
    top: 0;
    z-index: 999;
}

hr{
    border: 1px solid #e2e8f0;
}

.dot {
    height: 0.625em;
    width: 0.625em;
    background-color: #485366;
    border-radius: 50%;
    display: inline-block;
    margin:0 0.4em;
}

.cost{
    font-size: 2em;
    font-weight: bold;
    color: black;
}

.rooms{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.icons{
    width: 2em;
    margin-right: 1em;
}

.bed, .bath{
    display: flex;
    align-items: center;
    justify-content:  flex-start;
}

.caps{
    text-transform: uppercase;
    font-weight: bold;
}

.text_margin{
    margin: 1.2em;
}

.realtor{
    display: flex;
    align-items: flex-start;
    justify-content:  space-between;
}

.realtor-flex{
    display: flex;
    align-items: flex-start;
    justify-content:  flex-start;
    text-transform: uppercase;
}

.realtor_name{
    color:black;
    font-size: 1.1em;
}

.realtor-pic{
    width: 4em;
    margin-right: 1em;
    border-radius: 50%;
}

.card:hover .card_img {
    height: 100%;
    opacity: 0.3;
}

.info{
    z-index: 99998889;
    float: right;
    background-color: #ffd651;
    padding: 0 1em;
    border-radius: 12px;
    margin: 0.3em;
    cursor: pointer;
}

.more{
    text-align: center;
}



